.main-informations {
    text-align: center;
}

.details {
    padding-top: 20px;
}

.details p {
    padding: 8px
}

.back {
    position: fixed;
    left: 2%;
    bottom: 2%;
    color: black;
    text-decoration: none;
}

.back:hover {
    text-decoration: underline;

}